
\.idea/

bdev-backend/config/keys\.js
bdev-backend/node_modules/
bdev-frontend/node_modules/
bdev-backend/package-lock.json
bdev-frontend/package-lock.json

server/

bdev-frontend/src/utils/requestsURL.js

bdev-backend/public/profile/
bdev-backend/public/cv/
