.dash-opt {
    color: #595959;
    border-left: 4px solid #f0f0f0;
    width: 100%;
    transition: all 0.3s linear;
}

.dash-opt:hover {
    color: #2d2d2d;
    border-left: 4px solid currentColor;
    transition: all 0.3s linear;
}

.dash-opt-active{
    color: #257183 !important;
    border-left: 4px solid currentColor;
    display: inline-flex;
    width: 100%;
}

.dash-opt-active > .dash-opt {
    color: inherit;
    border-left: 0px solid #f0f0f0 ;
}

/* Dashboard Organization */
.dash-holder{
    min-height: calc(var(--vh, 1vh) * 100);
}
.dash-content-holder{
    overflow:hidden;
}

@media (max-width: 767.99px){
    .dash-nav{
        position: fixed;
        bottom: 0;
        left:0;
        z-index: 10;
    }
    .dash-opt {
        border-bottom: 4px solid #f0f0f0;
    }
    .dash-opt:hover {
        border-left: 0px solid currentColor;
    }
    .dash-opt-active{
        border-bottom: 4px solid currentColor;
        border-left: 0px solid white;
    }
}
.dash-title{
    min-height:  calc(var(--vh, 1vh) * 10);
    max-height:  calc(var(--vh, 1vh) * 10);
}

.dash-subnav{
    min-height:  calc(var(--vh, 1vh) * 10);
    max-height:  calc(var(--vh, 1vh) * 10);

}

.dash-content {
    min-height:  calc(var(--vh, 1vh) * 80);
    max-height:  calc(var(--vh, 1vh) * 80);
    overflow-Y: auto;
    overflow-X: hidden;
}

@media (max-width: 767.99px) {
    .dash-subnav{
        min-height:  calc(var(--vh, 1vh) * 8);
        max-height:  calc(var(--vh, 1vh) * 8);
        overflow-x: scroll;
        white-space: nowrap;
        display: block;
    }
    .dash-content {
        min-height:  calc(var(--vh, 1vh) * 72);
        max-height:  calc(var(--vh, 1vh) * 72);
    }
    .dash-subnav > .col-auto{
        display: inline-block;
        float: none;
    }
}

.dash-button-box {
    color: white;
    border-radius: 0.25em;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.3s linear;
    overflow: hidden;
}

.dash-button-box:hover{
    box-shadow: 2px 2px 2px 1px rgba(28,28,28,0.3);
    transition: all 0.3s linear;
}

.dash-subopt {
    color: #595959;
    border-bottom: 2px solid #f0f0f0;
    transition: all 0.3s linear;

}

.dash-subopt-active{
    color: #257183 !important;
    border-bottom: 2px solid #257183;
}
