/* Form Input Primary - White for Blue Background */
.form-primary-input {
    color: white;
    -webkit-text-fill-color: white !important;
    background-color: inherit;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
    border-radius: 0px;
    transition: all 0.3s linear;
}

.form-primary-input:active, .form-primary-input:focus  {
    color: white;
    -webkit-text-fill-color: white !important;
    background-color: inherit;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: white;
    border-radius: 0px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    //box-shadow: 0 8px 6px -6px rgba(28,28,28,0.5);
    transition: all 0.3s linear;
}

.form-primary-input:hover {
    -webkit-text-fill-color: white !important;
    box-shadow: 0 8px 6px -6px rgba(28,28,28,0.2);
    transition: all 0.3s linear;
}

.form-primary-input::placeholder {
    color: rgba(255,255,255,0.7) ;
    -webkit-text-fill-color: rgba(255,255,255,0.7);
}

.form-input-hasvalue {
    border-color: rgba(255,255,255,1);
    transition: all 0.3s linear;
}

.has-error > input {
    border-bottom: 2px solid #FFAE68;
}
.has-error > textarea {
    border-bottom: 2px solid #FFAE68;
}
.has-error > span {
    color: #FFAE68;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    //border: 1px solid green;
    -webkit-text-fill-color: inherit;
    //-webkit-box-shadow: 0 0 0px 1000px inherit inset;
    transition: background-color 5000s ease-in-out 0s;
}


/* Form Input Alt - Blue for White Background */
.form-alt-input {
    color: #257183;
    -webkit-text-fill-color: #257183 !important;
    background-color: inherit;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: rgba(37, 113, 131, 0.5);
    border-radius: 0px;
    transition: all 0.3s linear;
}

.form-alt-input:active, .form-alt-input:focus  {
    color: #257183;
    -webkit-text-fill-color: #257183 !important;
    background-color: inherit;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #257183;
    border-radius: 0px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    //box-shadow: 0 8px 6px -6px rgba(28,28,28,0.5);
    transition: all 0.3s linear;
}

.form-alt-input:hover {
    -webkit-text-fill-color: #257183 !important;
    box-shadow: 0 8px 6px -6px rgba(28,28,28,0.2);
    transition: all 0.3s linear;
}

.form-alt-input::placeholder {
    color: rgba(37, 113, 131, 0.7) ;
    -webkit-text-fill-color: rgba(37, 113, 131, 0.7);
}

.form-alt-input-hasvalue {
    border-color: rgba(37, 113, 131, 1);
    transition: all 0.3s linear;
}

.tag{
    display: inline-block;
    background: rgba(37, 113, 131, 0.15);
    border: 1px solid #257183;
    border-radius: 0.25em;
    transition: all 0.3s linear;
}

.tag:hover{
    box-shadow: 1px 1px 2px 1px rgba(28,28,28,0.5);
    color: #2d2d2d;
    transition: all 0.3s linear;
}


/* Picture Upload */
.pic-container{
    position: relative;
    transition: all 0.3s linear;
}
.pic-img{
    display: block;
    //width: 100%;
    height: auto;
}

.pic-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0,0,0, 0.5);
    transition: all 0.3s linear;
}

.pic-container:hover .pic-overlay{
    opacity: 1;
    transition: all 0.3s linear;
}

.profile-pic{
    margin: auto;
    object-fit: cover;
    width:175px;
    height:175px;
    border-radius: 10em;
    border: 2px solid #257183;
    //box-shadow: 2px 2px 2px #1c1c1c;
}

.pic-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
}
